[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/eske4/klintoe-nvim-setup
[submodule "zap/.local/.share/zap"]
	path = zap/.local/.share/zap
	url = https://github.com/zap-zsh/zap
